* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 50px;
}
.container {
  margin-top: 35px;
  display: grid;
  grid-template-columns: 280px 280px 280px;
  height: 450px;
  /* width: 300px; */
}
.card-1 {
  background-color: hsl(31, 77%, 52%);
  padding: 40px;
  color: #fff;
}
img {
  margin-bottom: 30px;
}
h2 {
  margin-bottom: 20px;
}
p {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.2;
  margin-bottom: 60px;
}
.card-2 {
  background-color: hsl(184, 100%, 22%);
  color: #fff;
  padding: 40px;
}
.card-3 {
  background-color: hsl(179, 100%, 13%);
  color: #fff;
  padding: 40px;
}

button {
  display: inline-block;
  padding: 15px 40px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.btn-1 {
  color: hsl(31, 77%, 52%);
}

.btn-2 {
  color: hsl(184, 100%, 22%);
}
.btn-3 {
  color: hsl(179, 100%, 13%);
}
@media (max-width: 935px) {
  .container {
    grid-template-columns: 230px 230px 230px;
  }
}
@media (max-width: 730px) {
  .container {
    grid-template-columns: 200px 200px 200px;
  }
  button {
    padding: 12px 30px;
  }
}
@media (max-width: 600px) {
  body {
    height: 80vh;
    padding: 0px 20px;
  }
  .container {
    grid-template-columns: 190px 190px 190px;
    height: 280px;
  }
  button {
    padding: 8px 18px;
  }
  .attribution {
    display: none;
  }
}
@media (max-width: 500px) {
  body {
    height: 70vh;
    padding: 0px 20px;
  }
  .container {
    margin-top: 2px;
    grid-template-columns: 350px;
  }
  button {
    padding: 12px 25px;
  }
  .attribution {
    display: none;
  }
}
